<%= form_for @snippet do |f| %>
 
  <% if @snippet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@snippet.errors.count, "error") %> prohibited
        this snippet from being saved:
      </h2>
      <ul>
        <% @snippet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :french %><br>
    <%= f.text_area :french, :cols => "150", :rows=>"20" %>
  </p>
  
  <p>
    <%= f.label :german %><br>
    <%= f.text_area :german, :cols => "150", :rows=>"20" %>
  </p>

  <p>
    <%= f.label :showTime %><br>
    <%= f.text_field :showTime %>
  </p>
 
 <h2>rating marks</h2>
    <% @rating_marks.each do |r| %>
      <%= label_tag r.title  %>
      <%= check_box_tag "rating_marks[#{r.id}]", r.id, checked=true  %>
      <br />
      <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
