<h1>Listing snippets</h1>
<%= render 'welcome/menu' %>

<%= link_to 'New snippet', new_snippet_path %>
<br/>
<table>
  <tr>
    <th>ID</th>
    <th>French</th>
    <th>German</th>
    <th>Offset</th>
  </tr>
 
  <% @snippets.each do |snippet| %>
    <tr>
      <td><%= snippet.id %></td>
      <td><%= snippet.french %></td>
      <td><%= snippet.german %></td>
      <td><%= snippet.showTime %></td>
      <td><%= link_to 'Show', snippet_path(snippet) %></td>
      <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
      <td><%= link_to 'Destroy', snippet_path(snippet),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
