<h1>Showing Snippet <%= @snippet.id %></h1>
<%= render 'welcome/menu' %>

<p>
  <strong>French:</strong>
  <%= @snippet.french %>
</p>
 
<p>
  <strong>German:</strong>
  <%= @snippet.german %>
</p>

<p>
  <strong>Time Offset:</strong>
  <%= @snippet.showTime %>
</p>

<h2>Possible ratings</h2>
  <%= form_for([@snippet, @snippet.ratings.build]) do |f| %>
    <% @snippet.rating_marks.each do |r| %>
    <%= f.label r.title  %>(<%= @snippet.getNumberOfRatings(r.id)  %>)
    <%= f.radio_button "rating_mark_id", r.id  %>
    <br/>
      <% end %>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

<%= link_to 'Back', snippets_path %>
<%= link_to 'Edit', edit_snippet_path(@snippet) %>
