<%= form_for @rating do |f| %>
 
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@rating.errors.count, "error") %> prohibited
        this rating from being saved:
      </h2>
      <ul>
        <% @rating.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :rating_mark_id %><br>
    <%= f.text_field :rating_mark_id %>
  </p>

  <p>
    <%= f.label :snippet_id %><br>
    <%= f.text_field :snippet_id %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
