<h1>Listing ratings</h1>
<%= render 'welcome/menu' %>
<%= link_to 'New rating', new_rating_path %>

<table>
  <tr>
    <th>ID</th>
    <th>user</th>
    <th>rating_mark</th>
    <th>snippet</th>
  </tr>
 
  <% @ratings.each do |rating| %>
    <tr>
      <td><%= rating.id %></td>
      <td><%= rating.user_id %></td>
      <td><%= rating.rating_mark_id %></td>
      <td><%= rating.snippet_id %></td>
      <td><%= link_to 'Show', rating_path(rating) %></td>
      <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
      <td><%= link_to 'Destroy', rating_path(rating),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
