<div class="part" id="part">
  <%= @current_snippet.french.html_safe %>
</div>

<div id="translate_actions">  
  <ul>
    <li><a href="#" id="do_translate">Übersetzen</a></li>
    <li><a href="#" class="btn-timer">Nächstes Datenpaket in <span class="countdown"></span></a></li>
    </ul>
</div>

<div id="actions">
  <ul>
    <% @rating_marks.each do |rating_mark| %>
      <li>
        <%= link_to snippet_ratings_path(@current_snippet.id, "rating[rating_mark_id]": rating_mark.id), method: :post, remote:true do %>
          <%= "#{rating_mark.title}" %><%= content_tag(:span, "<br>#{rating_mark.explanation}".html_safe, class: 'explanation') if rating_mark.explanation %>
        <% end %>
      </li>
    <% end %>
    <li><a href="snipet_01_wait.html" class="btn-timer">Nächstes Datenpaket in <span class="countdown"></span></a></li>
  </ul>
</div>

<script>
  var repeatPulling = window.setInterval('nextSnippet();', 12000);
  var nextSnippet = function() { 
    console.log('do something...');
  }

  $('#do_translate').on('click', function(e){
    e.preventDefault();
    $('#part').html('<%= j @current_snippet.german %>')
    $('#translate_actions').hide();
    $('#actions').show();
  });

  var count = <%= @next_snippet.time_remaining %>;
  var counter = window.setInterval('timer()', 1000);
  var timer = function () {
    count = count-1;
    if (count <= 0) {
      clearInterval(counter);
        $.ajax({
          url: "<%= current_snippet_path %>"
        });
       return;
    }
    $('.countdown').html(count);
  }

</script>