<div class="part">
  <p class="todo">
    Warten auf neue Datenpakete ...
  </p>
  <%= image_tag 'waiting_phone.gif', alt: 'neue Datenpakete werden geladen', class: 'center' %>
  <ul>
    <!-- <li><%= link_to 'Überspringen', current_snippet_path, remote: true %></li> -->
    <% if @next_snippet %>
      <li><a href="#" class="btn-timer">Nächstes Datenpaket in <span class="countdown"></span></a></li>
    <% else %>
      <li><a href="/stats">Statistiken</a></li>
    <% end %>
  </ul>
</div>
<!--Icons by Tom Walsh & Paul Tynes-->

<% if @next_snippet %>
<script>

  window.clearInterval(counter);
  window.clearInterval(checkTimerInterval);

  var count = <%= @next_snippet.time_remaining %>;
  var counter = window.setInterval('timer()', 1000);
  var timer = function () {
    count = count-1;
    if (count <= 0) {
      clearInterval(counter);
        $.ajax({
          url: "<%= current_snippet_path %>"
        });
       return;
    }
    $('.countdown').html(count);
  }

  // Reload page partial every 10 seconds
  var checkTimerInterval = window.setInterval('checkTimer()', 10000); 
  var checkTimer = function() {
    $.getJSON( "/snippets/<%= @next_snippet.id %>/time_remaining.json", function(time){
      count = time;
    });
  }
</script>
<% end %>
