<%= form_for @rating_mark do |f| %>
 
  <% if @rating_mark.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@rating_mark.errors.count, "error") %> prohibited
        this rating_mark from being saved:
      </h2>
      <ul>
        <% @rating_mark.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
