<h1>Showing Rating Mark <%= @rating_mark.id %></h1>
<%= render 'welcome/menu' %>

<p>
  <strong>Title:</strong>
  <%= @rating_mark.title %>
</p>
 
<%= link_to 'Back', rating_marks_path %>
<%= link_to 'Edit', edit_rating_mark_path(@rating_mark) %>
